* {
  font-family: roboto;
}

body {
  background-color: rgb(78, 71, 71);
  color: white;
}

.jumbotron.jumbotron-fluid {
  background-image: url(../images/jumbo-background-1);
  background-size:cover;
  color: white;
}

.navbar {
background-color: black;
color: white;
 }


.me {
  width: 230px;
  height: 240px;
  border-radius: 120px;

}



.col {
  color: black;
}

.row {
  justify-content: center;
  align-items: center;
 
}

.img {
  width: 50px;
}

.contact-me-section {
 justify-content: end;
}

footer {
  justify-content: center;
} 

.featurette-divider {
background-color: rgba(255, 255, 255, 0.785);
width: 80%;
}


.btn {
background-color: black;
}

.btn:hover {
  background-color: rgb(179, 44, 44);  
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  
}

.overall {
  display: flex;
}
.contact__content {
  margin-left: 20px;
}

.float-end:hover {
color: red;
}