* {
  font-family: roboto;
}

body {
  background-color: rgb(78, 71, 71);
  color: white;
}

.jumbotron.jumbotron-fluid {
  background-image: url(../images/jumbo-background-1);
  background-size:cover;
  color: white;
}

/* .navbar {
   position:fixed;
  width: 100%;
  z-index:10%; 
} */

.navbar-brand.mb-0.h1 {
  font-family: roboto;
  color: rgb(171, 22, 22);
}

.me {
  width: 230px;
  height: 240px;
  border-radius: 120px;
 margin-left: 55px;
position: absolute;
right: 30px;
top: 60px;
}



.col {
  color: black;
}

.row {
  justify-content: start;
  align-items: center;
 
}

.img {
  width: 50px;
}

.contact-me-section {
 justify-content: end;
}

/* footer {
  
} */

.featurette-divider {
background-color: rgba(255, 255, 255, 0.785);
width: 80%;
}