* {
  font-family: roboto;
}

.jumbotron.jumbotron-fluid {
  background-image: url(../images/jumbo-background-1);
  background-size:cover;
  color: white;
}

header {
  font-family: Roboto, Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  background-color: rgb(15,15,15);
  border-style: solid;
  border-bottom: 4px;
  border-color: rgb(15,15,15);
  border-width: 10px;
}


.hero {
  height: 150px;
  width: 100%;
  margin: 0px;
  background-image: url("../images/hero-banner-5.gif");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
  border-bottom: 1px;
  border-bottom-style:solid;
  border-bottom-color: rgb(95, 94, 94);
  border-bottom-width: 1px;
  }


.opening-text {
  font-family: roboto, arial;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-brand.mb-0.h1 {
  font-family: Merienda;
  color: rgb(171, 22, 22);
}

.me {
  width: 240px;
  height: 240px;
  border-radius: 120px;
 margin-left: 55px;
position: absolute;
right: 30px;
top: 60px;
}

